/* Activity 6 layout */

body {
  margin: 0;
  padding: 0;
}

#map {
  height: 600px;
  width: 80%;
  display: inline-block;
}

#panel {
  width: 18%;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 42px;
}

/* slider + buttons */
.range-slider {
  width: 70%;
}

.step {
  width: 45%;
  margin-top: 10px;
}

/* popup spacing */
.leaflet-popup-content p {
  margin: 0.2em 0;
}